body {
 font-family: Verdana;
 font-size: 8pt;
 color: black;
}
table {
 font-family: Verdana;
 font-size: 8pt;
 color: black;
}
A {
 text-decoration: none;
 color: blue;
}
A:hover {
 text-decoration: none;
 color: red;
}
.i {
 position: absolute;
 left: -70;
 top: -70;
}
.t {
 position: absolute;
 left: 150;
 top: 75;
 width: 200;
 height: 100;
 background-color: #eee;
 border: 1px solid black;
 padding: 10px;
}
.r {
 position: absolute;
 left: 500;
 top: 0;
 width: 150;
 height: 250;
 background-color: #eee;
 border-left: 1px solid black;
 border-right: 1px solid black;
 padding-top: 50px;
 padding-bottom: 50px;
 padding-left: 10px;
 padding-right: 10px;
}
.c {
 position: absolute;
 left: 32;
 top: 250;
 width: 675;
 background-color: #eee;
 border: 1px solid black;
 padding: 20px;
}